In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./data/us_stocks.csv', parse_dates=['date'], index_col=['ticker', 'date'])

In [3]:
df.columns

Index(['open', 'high', 'low', 'close', 'volume', 'ex-dividend', 'split_ratio',
       'adj_open', 'adj_high', 'adj_low', 'adj_close', 'adj_volume'],
      dtype='object')

In [4]:
df = df.loc[:, ['adj_open', 'adj_high', 'adj_low', 'adj_close', 'adj_volume']]

In [5]:
df.rename(columns={'adj_open': 'open', 'adj_high': 'high', 'adj_low': 'low', 'adj_close': 'close', 'adj_volume': 'volume'}, inplace=True)

In [6]:
df.head()

                        open       high        low      close      volume
ticker date
A      1999-11-18  31.041951  34.112034  27.289627  30.018590  44739900.0
       1999-11-19  29.295415  29.336350  27.160002  27.548879  10897100.0
       1999-11-22  28.183363  30.018590  27.330562  30.018590   4705200.0
       1999-11-23  28.995229  29.766161  27.460188  27.460188   4274400.0
       1999-11-24  27.378319  28.613174  27.289627  28.012803   3464400.0

In [7]:
df.to_hdf('./data/stock_prices.h5', 'us_stocks')